<div class="container mt-5" style="max-width: 500px">
  <div class="card shadow rounded-4">
    <div class="card-body">
      <h2 class="text-center mb-4">Register</h2>
      <form [formGroup]="registerData" (ngSubmit)="register()">
        <!-- First Name -->
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" id="firstName" formControlName="firstName" class="form-control"
            placeholder="Enter your first name" />
            <span *ngIf="registerData.get('firstName')?.touched&&
              registerData.get('firstName')?.invalid">Please Provide firstName</span>
        </div>

        <!-- Last Name -->
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" id="lastName" formControlName="lastName" class="form-control"
            placeholder="Enter your last name" />
          <span *ngIf="registerData.get('lastName')?.touched&&
              registerData.get('lastName')?.invalid">Please Provide lastName</span>
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email" />
          <span *ngIf="
              registerData.get('email')?.touched &&
              registerData.get('email')?.invalid
            ">Invalid Email</span>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" formControlName="password" class="form-control"
            placeholder="Enter your password" />
          <span *ngIf="
              registerData.get('email')?.touched &&
              registerData.get('email')?.invalid
            ">Invalid Password</span>
        </div>
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100">Register</button>
        <a routerLink="/welcome" class="text-center">Back To Home!</a>
      </form>
    </div>
  </div>
</div>
