.card {
  border-radius: 1.5rem;
  background-color: #fff;
  border: none;
}

.card-title {
  font-weight: 600;
}

.list-group-item {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.list-group-item i {
  font-size: 1.2rem;
}
table {
  border-radius: 1rem;
  overflow: hidden;
}

th {
  background-color: #0d6efd;
  color: white;
}

td, th {
  vertical-align: middle;
}

tr:hover {
  background-color: #f0f9ff;
  transition: all 0.2s ease-in-out;
}
