


<div class="container mt-5 d-flex justify-content-center align-items-center" style="min-height: 90vh;">
  <div class="card shadow-lg rounded-4 p-4" style="width: 100%; max-width: 500px; background: linear-gradient(to right, #ffffff, #f0f4ff);">
    <div class="card-body">
      <h2 class="text-center mb-4 text-primary fw-bold">Update Employee</h2>

      <form [formGroup]="registerData" (ngSubmit)="update()">

        <!-- ID -->
        <div class="mb-3">
          <!-- <label for="firstName" class="form-label fw-semibold">First Name</label> -->
          <div class="input-group">
            <span class="input-group-text bg-primary text-white"><i class="bi bi-person-fill"></i></span>
            <input type="number" id="id" formControlName="id" name="id" class="form-control" readonly />
          </div>

  </div>

        <!-- First Name -->
        <div class="mb-3">
          <!-- <label for="firstName" class="form-label fw-semibold">First Name</label> -->
          <div class="input-group">
            <span class="input-group-text bg-primary text-white"><i class="bi bi-person-fill"></i></span>
            <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter your   name" />
          </div>
          <small class="text-danger" *ngIf="registerData.get('name')?.touched && registerData.get('name')?.invalid">Please provide Name</small>
        </div>



        <!-- Email -->
        <div class="mb-3">
          <!-- <label for="email" class="form-label fw-semibold">Email</label> -->
          <div class="input-group">
            <span class="input-group-text bg-primary text-white"><i class="bi bi-envelope-fill"></i></span>
            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email" />
          </div>
          <small class="text-danger" *ngIf="registerData.get('email')?.touched && registerData.get('email')?.invalid">Invalid Email</small>
        </div>

        <!-- Password -->
        <div class="mb-4">
          <!-- <label for="password" class="form-label fw-semibold">Password</label> -->
          <div class="input-group">
            <span class="input-group-text bg-primary text-white"><i class="bi bi-lock-fill"></i></span>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter your password" />
          </div>
          <small class="text-danger" *ngIf="registerData.get('password')?.touched && registerData.get('password')?.invalid">Invalid Password</small>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100 rounded-pill shadow-sm fw-semibold">Update</button>

        <!-- Back to Home Link -->
        <!-- <div class="text-center mt-3">
          <a routerLink="/welcome" class="text-decoration-none text-primary fw-medium">
            ← Back to Home
          </a>
        </div> -->
      </form>
    </div>
  </div>
</div>

