
<div class="container mt-5" style="max-width: 500px;">
  <div class="card shadow rounded-4">
    <div class="card-body">
      <h2 class="text-center mb-4">Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter your email" />

        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" formControlName="password" class="form-control" id="password" placeholder="Enter your password" />

        </div>

        <button type="submit" class="btn btn-primary w-100">Login</button>
        <a routerLink="/welcome" class="text-center" >Back To Home!</a>
      </form>
    </div>
  </div>
</div>
